html{
  scroll-behavior: smooth;
}

.row .logo{
  margin: auto;
  text-align: center;
  /*padding: 2em;*/
}

.row .menu{
  height: 50px;
  margin: auto;
  padding: 2em 0em 4em 2em;
}

.row .menu span a{
  text-decoration: none;
  text-align: center;
  color: #000;
  padding: 2em;
}

.row .menu span a:hover{
  color: #00305b;
  font-size: 18px;
}

.parallax {
  background-image: url("../img/city.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax .row .sideText{
  min-height: 500px;
  width: 600px;
  background-color: rgba(40, 2, 251, 0.6);
}

.parallax .row .sideText .box{
  text-align: right;
  /*width: 500px;*/
  height: 700px;
  margin: auto;
  padding: 14em 5em 10em 0em;
  color: #fff;
}

.row .practice{
  background-color: #eaf4f6;
  height: 650px;
}

.row .practice #practice{
  padding-top: 100px;
}

.row .practice h1{
  text-align: right;
  padding-right: 2em ;
}

.row .practiceList{
  padding: 100px;
}

.row .practiceList1 ul{
  list-style: square;
  color: #00305b;
}

.row .practiceList1 ul li{
  padding-bottom: 40px;
}

.row .practiceList2 ul{
  list-style: square;
  color: #00305b;
}

.row .practiceList2 ul li{
  padding-bottom: 40px;
}

.row .visionBG{
  height: 70%;
  background-color: #00305b;
  color: #fff;
}

.row .visionBG .vision{
  text-align: center;
  padding-top: 6em;
  padding-bottom: 10em;
}

.row .visionBG .vision h1{
  padding-bottom: 50px;
}

.row .visionBG .vision p{
  width: 60%;
  text-align: center;
  margin: auto;
}

.parallax2{
  background-image: url("../img/meeting.jpg");
  min-height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2Mask{
  background-color: rgba(197, 197, 197, 0.5);
  min-height: 600px;
  background-size: cover;
}

.row .attorney h1{
  text-align: center;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #00305b;
}

.row .attorney1{
  margin-bottom: 10em;
  margin-left: 10%;
}

.row .attorney1 .card{
  display: inline-block;
  text-align: center;
  margin-left: 5em;
}

/*.row .attorney2 .card{
  margin: auto;
  text-align: center;
}

.row .attorney3 .card{
  margin-right: 20em;
  text-align: center;
}*/

.parallax3{
  background-image: url("../img/office_building.jpg");
  min-height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3Mask{
  background-color: rgba(31, 86, 137, 0.7);
  min-height: 600px;
  background-size: cover;
}

.parallax3Mask .contact{
  text-align: right;
  background-color: rgba(18, 70, 118, 0.8);
  min-height: 600px;
}

.parallax3Mask .contact h1{
  padding: 4em 2em 0em 0em;
  color: #fff;
}

.parallax3Mask .contactDetails{
  color: #fff;
  padding: 10em 0em 7em 7em;
}

.backToTop{
  margin: auto;
  background-color: #00305b;
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
}

.backToTop h4 a{
  text-decoration: none;
  color: #fff;
}

footer{
  font-size: 14px;
  padding-bottom: 1em;
  padding-top: 2em;
}

footer p{
  padding-left: 4em;
}